<footer>
  <div class="f-info">
    <div class="f-info-socials">
        <a href="/linkdin"> <i class="fa-brands fa-linkedin"></i></a>
        <a href="/whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="/github"> <i class="fa-brands fa-github"></i></a>
        <a href="/twitter"> <i class="fa-brands fa-twitter"></i></a>
    </div>
    <h6>&copy;Privacy and Copyrights</h3>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/security">Security</a>
      <a href="/legal">Legal Actions</a>
    </div>
  </div>
</footer>
