<nav class="navbar navbar-expand-md bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-icon-style" href="/listings"
      ><i class="fa-solid fa-compass hmenu"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <i class="fa-solid fa-bars hmenu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings/">Explore</a>
      </div>
      <div class="ms-auto">
        <form class="form-inline">
          <input
            class="form-control mr-sm-2 search-inp"
            type="search"
            placeholder="Search Destination"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success my-2 my-sm-0 search-btn"
            type="submit"
          >
            Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto navFlex">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup"
          ><button class="btn btn-outline-success">Signup</button></a
        >
        <a class="nav-link" href="/login"
          ><button class="btn btn-outline-danger">Log in</button></a
        >
        <% }else{ %>
        <a class="nav-link" href="/logout"
          ><button class="btn btn-outline-warning">Logout</button></a
        ><% } %>
      </div>
      <div id="toggleSwitch " class="tax-btn-mobile">
        <div class="form-check form-switch curPoint">
          <input
            class="form-check-input curPoint"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label curPoint" for="flexSwitchCheckDefault"
            >Display taxes</label
          >
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxinfo = document.getElementsByClassName("taxInfo");
    console.log(taxinfo);
    for (info of taxinfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
