<nav class="navbar navbar-expand-md bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-icon-style" href="/listings"
      ><i class="fa-solid fa-compass hmenu"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <i class="fa-solid fa-bars hmenu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings/">Explore</a>
      </div>
      <div class="navbar-nav ms-auto navFlex">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) {%>
        <a class="nav-link" href="/signup"
          ><button class="btn btn-outline-success">Signup</button></a
        >
        <a class="nav-link" href="/login"
          ><button class="btn btn-outline-danger">Log in</button></a
        >
        <% }else{ %>
        <a class="nav-link" href="/logout"
          ><button class="btn btn-outline-warning">Logout</button></a
        ><% } %>
      </div>
    </div>
  </div>
</nav>
