<% layout ("/layouts/boilerplate") %>
<body>
  <h1>All listings</h1>
  <form action="/listings/new" method="get">
    <button>Add New Listing</button>
  </form>
  <% for (let listing of allListings){%>
  <p><a href="/listings/<%= listing._id %>/"><%= listing.title %></a></p>
  <%}%>
</body>
