<% layout ("/layouts/boilerplate") %>
<body>
  <h1 style="text-align: center">Add New Listings</h1>

  <form
    action="/listings"
    method="post"
    novalidate
    class="needs-validation"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col col-md-8">
        <div class="mb-2">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="listing[title]"
            placeholder="Add a Catchy Title."
            required
          />
          <div class="invalid-feedback">Please Enter a Catchy Title.</div>
          <div class="valid-feedback">It's a Catchy Title.</div>
        </div>
        <div class="mb-2">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            placeholder="Describe Hotel in few Lines"
            required
          ></textarea>
          <div class="invalid-feedback">Please Describe in few lines.</div>
        </div>
        <!-- <div class="mb-2">
          <label for="image" class="form-label">Image URL</label>
          <input
            type="text"
            name="listing[image]"
            class="form-control"
            placeholder="Enter Image Link/Url"
          />  
          <div class="valid-feedback">Hope this link is fine.</div>  
        </div> -->
        <div class="mb-2">
          <label for="image" class="form-label">Upload Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Upload a Image.</div>
          <!-- <div class="valid-feedback">Hope this link is fine.</div> -->
        </div>
        <div class="row">
          <div class="mb-2 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              name="listing[price]"
              class="form-control"
              placeholder="1,500"
              required
            />
            <div class="invalid-feedback">The Price must be there.</div>
          </div>
          <div class="mb-2 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              class="form-control"
              placeholder="Pune"
              required
            />
            <div class="invalid-feedback">Please Enter a Location!</div>
          </div>
        </div>
        <div class="mb-2">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            placeholder="Maharashtra , India"
            required
          />
          <div class="invalid-feedback">Please Enter Country name!</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
      </div>
    </div>
  </form>
</body>
