.navbar-icon-style i {
  font-size: 2rem;
  color: #fe424d;
}
.navFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: white;
}
.nav-link {
  color: #222222 !important;
}
.navbar {
  z-index: 99;
  background-color: white;
  box-shadow: 10px 1px 2px 3px whitesmoke;
}
.tax-btn-mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: inline !important;
  }
  .tax-btn-mobile {
    display: block;
  }
  .tax-btn-mobile {
    border: 1px solid blue;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
  }
}

.search-btn,
.search-inp {
  border-radius: 25px !important;
}
.search-btn {
  background-color: #fe424d !important;
  color: white !important;
  border: none !important;
}
