.card_ls {
  border: none !important;
  margin-bottom: 2rem !important;
  padding: 10px !important;
}
.row a {
  text-decoration: none !important;
  padding: 0 !important;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  /* margin-top: 2rem !important;
  margin-bottom: 2rem; */
  flex: 1 !important;
}
.card-img-top {
  border-radius: 1rem !important;
  height: 250px !important  ;
  width: 100% !important;
  object-fit: cover !important;
}

.loc-con {
  display: flex;
  justify-content: space-between;
}
.row {
  justify-content: center;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}

.card-img-overlay {
  opacity: 0 !important;
  background-color: white;
}

.card-img-overlay:hover {
  opacity: 0.2;
}

.Show-btns {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .card-sm {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .Show-btns {
    width: 100%;
    padding: 3px;
  }
}
@media (max-width: 768px) {
}

.review-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3px;
}

.r-c {
  width: 48%;
  padding: 2px;
}
.rat-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4px;
}

.hmenu {
  font-size: 1.7rem;
}

#underM {
  font-size: 9px;
  color: red;
  cursor: initial;
  background-color: white !important;
  border: 1px solid rgb(155, 153, 153);
  border-radius: 10px;
}

#imgg {
  height: 200px;
  width: 400px;
}
.btn-login {
  background-color: #fe424d;
  color: white;
  opacity: 0.8;
}
.btn-login:hover {
  opacity: 1;
  background-color: #fe424d;
  color: white;
}
